.trigger {}

.popup {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;


}

.cont {
    margin-bottom: 50px;
}

.popupFlex {

    width: 85%;
    margin: auto;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    animation: normal 0.3s slide;
}

.popupImgBox,
.popupTxtBox {

    width: 45%;
}

.popupImgBox img {
    width: 100%;
    height: 300px
}

@keyframes slide {
    from {
        opacity: 0%;
        transform: translate(40%);
    }

    to {
        opacity: 100%;
        transform: translate(0%);
    }
}